/**palette reference --> https://www.colourlovers.com/palette/678929/War
                        https://www.colourlovers.com/palette/932683/Compatible
    Modular Scale --> https://www.modularscale.com/?1&em&1.3 
**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body, html {
    width: 100vw;
	min-height: 100vh;
	align-items: center;
    justify-content: center;
    overflow-x: hidden;
    background: #eaafc8;
    background: -webkit-linear-gradient(to right, #eaafc8, rgb(101, 78, 163));
    background: linear-gradient(to right, #eaafc8, #654ea3);
}
@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
body {
    font-family: 'Montserrat', 'Muli', Arial, Helvetica, sans-serif;
    color: rgb(10,3,16);
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
    transition: 0.1s;
}
::-webkit-scrollbar-thumb:hover {
    background: #666;
}
:root {
    --primary-color: rgb(255,158,157);
    --secondary-color: rgb(64, 8, 97);
    --complimentary-color: rgb(107, 197, 95);
    --contrast-color: rgb(167,2,103);
    --light-color:  rgb(101, 78, 163);
    --transition-time: 0.5s;
    font-size: 1em;
    }

/*Navigation*/

.megamenu {
    position: static
}

.megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100%
}

.btn{
    color: white;
    padding: 20px 30px;
    font-size: 0.769em;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/*Typewriter*/
h1, h2 {
    font-family: Montserrat, sans-serif;
    color: #fff;
    text-transform: lowercase;
    letter-spacing: .2rem;
    text-align: center;
}
h1 {
    font-size: 4.5em;
    line-height: 0.5em;
}
#typewriter {
    font-family: Arial;
    font-size: 1.3em;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    color: orange;
    user-select: none;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
/* Header */
header {
    height: 70vh;
    padding: 15%;
    text-align: center;
    color: rgb(10,3,16);
    font-family: 'Muli', sans-serif;
    animation: fadeInRight 0.5s;
}
@keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
}
header p {
    font-size: 2em;
    padding: 1.5em;
}
header a.btn {
    font: 'Muli' 0.9em;
    color: white;
    text-align: center;

    border-radius: 25px;
    border: 2px solid white;
    padding: 1em 2em;
    background: none;

    transition: ease 1s;
}
header a.btn:hover {
    background-color: white;
    color: var(--light-color);
}

/*Body*/

section {
    padding: 5vh 0;

    transition: all ease-in .5s;
    animation: fadeInRight 0.5s;
}
@keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
}
  
.container img {
    float: right;
    max-width: 250px;
    max-height: 250px;
    padding: 0em 0em 1em 1em;
}
h2 {
    font-size: 3em;
    height: 1.5em;
    width: 100%;
    margin-bottom: 1em;
}
/* Body */
p { 
    color: rgb(10,3,16);
    font-family: 'Muli', sans-serif;
    font-size: 1em;
    line-height: 1.3em;
}
/* Portfolio */
.wrapper {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: 0 auto;
}
.card {
	background: white;
	position: relative;
    display: flex;
    margin: 20px;
    box-shadow: 0 0 3em -1em black;
    transition: 0.4s ease-out;
}
.art-card {
    width: 400px;
	height: 400px;
	background: white;
	position: relative;
    display: flex;
    margin: 20px;
    box-shadow: 0 0 3em -1em black;
    transition: 0.4s ease-out;
}
.card:hover {
    transform: translateY(-10px);
}
.card:before {
    opacity: 1
}
.card:hover > .info {
    opacity: 1;
    transform: translateY(0px);
    background:  rgb(0,0,0,0.7);
}
.card::before > .info {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(70%); /* Chrome 19+ & Safari 6+ */
  }
  
.card img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
  }

.info {
    font-family: 'Muli', sans-serif;
    position: relative;
    border-radius: inherit;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
    padding: 1.5rem;
    width: 100%;
}
.info h3 {
    margin: 0px;
}
.info p {
    color: white;
    letter-spacing: 1px;
    font-size: 0.79em;
    margin: 2em 0;
}
.info > a.btn {
    padding: 0.5em 1em;
    outline: none;
    border: 2px solid white;
    border-radius: inherit;
    background: none;
    color: white;
    cursor: pointer;
    transition: 0.4s ease;
}
.info > a.btn:hover {
    background: white;
    color: black;
}

/* Skills Bar */
.progress-title {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin: 0 0 20px
}

.progress {
    height: 20px;
    background: #f1f1f1;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible
}

.progress .progress-bar {
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s
}

.progress .progress-value {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: black;
    position: absolute;
    top: -30px;
    right: -25px
}

.progress .progress-bar:after {
    content: "";
    display: inline-block;
    width: 10px;
    background: #fff;
    position: absolute;
    top: -10px;
    bottom: -10px;
    right: -5px;
    z-index: 1;
    transform: rotate(35deg)
}
/* Presentations */
.wrapper {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: 0 auto;
}
.video-card {
    height: 480px;
	width: 600px;
    background: white;
    box-shadow: 0 0 3em -1em black;
}
.video-card video {
    padding: 10px;
}
.video-card #info {
    font-family: 'Muli', sans-serif;
    border-radius: inherit;
    color: black;
    transition: 0.5s;
    padding: 1.5rem;
}
.video-card #info h3 {
    margin: 0px;
}
.video-card #info p {
    color: black;
    letter-spacing: 1px;
    font-size: 0.79em;
}
/* Diagrams */
.wrapper {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: 0 auto;
}
.diagram-card {
    width: 350px;
	background: white;
    position: relative;
    padding: 16px;
    margin: 20px;
    display: block;
    align-items: center;
    box-shadow: 0 0 3em -1em black;
    transition: 0.4s ease-out;
}
.diagram-card:hover {
    transform: translateY(-10px);
}
.diagram-card img {
    max-width: 320px;
}
.diagram-card #info {
    font-family: 'Muli', sans-serif;
    position: relative;
    border-radius: inherit;
    z-index: 3;
    color: black;
    padding: 1.5em;
    float: left;
}
.diagram-card #info h3 {
    margin: 0px;
}
.diagram-card #info p {
    color: black;
    letter-spacing: 1px;
    font-size: 0.79em;
    margin-top: 1em ;
}
/* Contact */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-size: 0.875em;
}
input::placeholder, textarea::placeholder {
    font-size: 0.875em;
}
#form {
    width: 100%;
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-between;
}
.inputBox {
    display: inline-flex;
    font-family: 'Muli', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    width: 49%;
    height: 50px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 15px;
    
    background: transparent;
    outline: none;
    
    border: solid 1px;
}
input {   
    letter-spacing: 2px;   
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}  
input:focus, #submit:hover, textarea:focus {
    background: white;
    border: 1px solid var(--light-color);
    color: var(--light-color);
}  
textarea {
    width: 100%;
    height: 20vh;
    padding: 15px;
    margin-bottom: 15px;
    
    background: transparent;
    outline: none;
    
    font-family: 'Muli', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    
    border: solid 1px;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
  
input#submit {
    height: 50px;
    width: 150px;
    
    font-family: 'Muli', sans-serif;
    font-size: 0.875em;
    background: var(--light-color);
    color: white;
    
    outline:none;
    cursor: pointer;
    
    border: none;
    border-radius: 25px;
}  