/**palette reference --> https://www.colourlovers.com/palette/678929/War
    Modular Scale --> https://www.modularscale.com/?1&em&1.3**/

html {
    font-family: 'Playfair Display', serif, 'Muli', sans-serif;
}

body {
    background-color: rgb(white);
    margin: 0px auto;
    max-width: 100%;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

/*Navigation*/

nav {
    background-image: linear-gradient(to right, rgb(242,100,61),rgb(73,0,126));
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav ul {
    font-family: 'Muni', sans-serif;
    font-size: 0.769em;
    letter-spacing: 1px;
    list-style: none;
    text-align: right;
    text-transform: uppercase;
}

nav li {
    display: inline;
    margin: 0px 3px;
    padding-right: 30px;
}

nav a:link, a:visited {
    color: rgb(231,237,234);
    text-decoration: none;
}

nav a:hover {
    color: rgb(255,0,91);
}

/*Banner*/

/*Body*/
p { 
    color: rgb(10,3,16);
    font-family: 'Muli', sans-serif;
    font-size: 1em;
    line-height: 1.3em;
}

/*footer*/

/*Images*/
